{% load static %}


<!DOCTYPE html>

<html class="wide wow-animation" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static '//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/'"><img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-spinner"><span class="cssload-cube cssload-cube0"></span><span class="cssload-cube cssload-cube1"></span><span class="cssload-cube cssload-cube2"></span><span class="cssload-cube cssload-cube3"></span><span class="cssload-cube cssload-cube4"></span><span class="cssload-cube cssload-cube5"></span><span class="cssload-cube cssload-cube6"></span><span class="cssload-cube cssload-cube7"></span><span class="cssload-cube cssload-cube8"></span><span class="cssload-cube cssload-cube9"></span><span class="cssload-cube cssload-cube10"></span><span class="cssload-cube cssload-cube11"></span><span class="cssload-cube cssload-cube12"></span><span class="cssload-cube cssload-cube13"></span><span class="cssload-cube cssload-cube14"></span><span class="cssload-cube cssload-cube15"></span>
        </div>
        <h2 class="preloader-title">{{ base_preloader_title }}</h2>
      </div>
    </div>
    <div class="page"> <!--<a class="section section-banner d-none d-xl-flex" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )" target="_blank"><img src="{% static 'images/banner/foreground-04-1600x60.png' %}" srcset="{% static 'images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x' %}" alt="" width="1600" height="310"></a> -->
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap position-relative">
          <nav class="rd-navbar" data-layout="rd-navbar-sidebar" data-device-layout="rd-navbar-sidebar" data-sm-layout="rd-navbar-sidebar" data-sm-device-layout="rd-navbar-sidebar" data-md-layout="rd-navbar-sidebar" data-md-device-layout="rd-navbar-sidebar" data-lg-layout="rd-navbar-sidebar" data-lg-device-layout="rd-navbar-sidebar" data-xl-layout="rd-navbar-sidebar" data-xl-device-layout="rd-navbar-sidebar" data-xxl-layout="rd-navbar-sidebar" data-xxl-device-layout="rd-navbar-sidebar" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-auto-height="false" data-sm-auto-height="false" data-md-auto-height="false" data-lg-auto-height="false" data-xl-auto-height="false" data-xxl-auto-height="false">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{% url 'home' %}"><img class="brand-logo-desktop" src="{% static 'images/logo-default-384x188.png' %}" alt="" width="192" height="94"/><img class="brand-logo-mobile" src="{% static 'images/logo-default-384x130.png' %}" alt="" width="192" height="65"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-container">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'home' %}">{{ rd_nav_item_1 }}</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'about' %}">{{ rd_nav_item_2 }}</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'contacts' %}">{{ rd_nav_item_3 }}</a>
                      </li>
                    </ul>
                    <ul class="contacts-classic">
                      <li>
                        <div class="contacts-classic-title">{{ contacts_classic_title_1 }}</div><a href="tel:#">{{ contacts_classic_title_1_1 }}</a>
                      </li>
                      <li>
                        <div class="contacts-classic-title">{{ contacts_classic_title_2 }}</div><a href="mailTo:#">{{ contacts_classic_title_2_1 }}</a>
                      </li>
                      <li>
                        <div class="contacts-classic-title">{{ contacts_classic_title_3 }}</div>
                        <ul class="list-inline list-social list-inline-sm">
                          <li><a class="icon fa fa-linkedin" href="{{ fa_linkedin }}"></a></li>
                          <li><a class="icon fa fa-twitter" href="{{ fa_twitter }}"></a></li>
                          <li><a class="icon fa fa-facebook" href="{{ fa_facebook }}"></a></li>
                          <li><a class="icon fa fa-instagram" href="{{ fa_instagram }}"></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav-custom rd-navbar-nav">
              <li class="active"><a class="nav-custom-counter" href="#home"></a></li>
              <li><a class="nav-custom-counter" href="#about"></a></li>
              <li><a class="nav-custom-counter" href="#works"></a></li>
              <li><a class="nav-custom-counter" href="#projects"></a></li>
              <li><a class="nav-custom-counter" href="#contacts"></a></li>
            </ul>
          </nav>
        </div>
      </header>
      {% block content %}
      <!-- DePaletra-->
      
      <!-- About Us-->
     
      <!-- Selected works-->
      
      <!-- Portfolio-->
      
      {% endblock %}
      
      <!-- Page Footer-->
      <footer class="section footer-classic section-full section-full-1 section-sm section-inset-2 bg-gray-3 context-dark text-md-center" id="contacts">
        <div class="container">
          <div class="subtitle-classic wow fadeInUp">{{ base_subtitle_classic }}</div>
          <h2><span class="d-inline-block wow fadeInLeft">{{ base_d_inline_block }}</span> <span class="d-inline-block wow fadeInRight">{{ base_d_inline_block_2 }}</span>
          </h2>
          <!-- RD Mailform-->
          {% block send %}
          {% endblock %}

        </div>
        <div class="container">
          <div class="footer-classic-list-social wow fadeInUp">
            <ul class="list-inline list-social list-inline-sm">
              <li><a class="icon fa fa-linkedin" href="#"></a></li>
              <li><a class="icon fa fa-twitter" href="#"></a></li>
              <li><a class="icon fa fa-facebook" href="#"></a></li>
              <li><a class="icon fa fa-instagram" href="#"></a></li>
            </ul>
          </div>
          <p class="rights wow fadeInUp"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>{{ base_rights_wow }}</span><span>.&nbsp;</span><span>{{ base_rights_wow_2 }}</span><br/>{{ base_rights_wow_3 }}&nbsp;{{ base_rights_wow_4 }}&nbsp;<a href="https://www.templatemonster.com/">{{ base_rights_wow_5 }}</a></p>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>